.app {
  width: 100%;
  height: 100vh;
  background-color: #efefef;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #afafaf;
}
.headline2 {
  display: flex;
  flex-direction: row;
  width: 70%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #afafaf;
  padding-left: 2vh;
  padding-top: 8vh;
}

.container {
  width: 100%;
  background-color: goldenrod;
  padding-top: 15%;
  padding-bottom: 5%;
}

.productlist {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2%;
  background-color: black;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}

button {
  background: #373737;
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 4px;
}

.link {
  margin-right: 4vh;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.schoolbook_square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(
        rgba(255, 255, 255, 0) 0.9em,
        rgba(0, 0, 0, 0.15) 1em
      )
      0 0,
    linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0.9em,
        rgba(0, 0, 0, 0.15) 1em
      )
      0 0;
  background-size: 1em 1em;
  background-color: #efefef;
}

.schoolbook_lines {
  background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 1.8em,
        rgba(135, 206, 235, 0.5) 2em
      )
      4em 0 repeat-y,
    linear-gradient(rgba(255, 255, 255, 0) 1.9em, rgba(0, 0, 0, 0.15) 2em) 0 0;
  background-size: 2em 2em;
  background-color: ivory;
}

.bottomContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* clouds */

.cloudLeft {
  left: -60%;
  -webkit-animation: LEFTtOrIGHT 240s ease infinite;
          animation: LEFTtOrIGHT 240s ease infinite;
}

.cloudMid {
  left: 10%;
  -webkit-animation: MidToRIGHT 600s ease;
          animation: MidToRIGHT 600s ease;
}

.cloudRight {
  right: -60%;
  -webkit-animation: rightToLeft 200s ease infinite;
          animation: rightToLeft 200s ease infinite;
}

@-webkit-keyframes rightToLeft {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@keyframes rightToLeft {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes MidToRIGHT {
  from {
    left: 10%;
  }
  to {
    left: 100%;
  }
}

@keyframes MidToRIGHT {
  from {
    left: 10%;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes LEFTtOrIGHT {
  from {
    left: -60%;
  }
  to {
    left: 100%;
  }
}

@keyframes LEFTtOrIGHT {
  from {
    left: -60%;
  }
  to {
    left: 100%;
  }
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* contact */

.material-symbols-outlined {
/*   font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40 */
}

/* brand box */

.imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 24vh;
  height: 24vh;
  padding: 1vh;
  margin: 1vh;
  background-color: #fff;
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.202) , 0px -1px 2px rgba(10, 10, 10, 0.286) , 0px 2px 2px rgba(0, 0, 0, 0.202) , 2px 0px 2px rgba(0, 0, 0, 0.286) ;
}

.imgBoxShadow {
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.202) , 0px -1px 2px rgba(10, 10, 10, 0.286) , 0px 2px 2px rgba(0, 0, 0, 0.202) , 2px 0px 2px rgba(0, 0, 0, 0.286) ;
}
